&nbsp;
<div class="d-flex justify-content-center">
    <div  id = "register" >
        <form  [formGroup]="regForm" (ngSubmit)="regIn()">
            <div  class=" p-3" style="background-color:#ddd; border-radius: 5px; float:left;">
            <h2 class="text-center">CarAdvisor - Automobil</h2>       
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="marka">Marka:</label>
                <div class="col-sm-7">
                <input type="text" class="form-control" id="Marka"  placeholder="marka" formControlName="marka" value="">
                <small class="text-danger" 
                *ngIf="regForm.controls.marka.touched && regForm.controls.marka.errors?.required">
                Ne može ostati prazno polje</small>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="karoserija">Karoserija:</label>
                <div class="col-sm-7">
                <select formControlName="karoserija">
                    <option *ngFor="let symbol of keys1(symbols1)" [ngValue]="symbols1[symbol]">{{symbol}}</option>
                </select>
                <small class="text-danger" 
                *ngIf="regForm.controls.karoserija.touched && regForm.controls.karoserija.errors?.required">
                Ne može ostati prazno polje</small>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="cena">Cena (evro):</label>
                <div class="col-sm-7">
                <input type="number" class="form-control" id="Cena"  placeholder="cena" formControlName="cena" value="">
                <small class="text-danger" 
                *ngIf="regForm.controls.cena.touched && regForm.controls.cena.errors?.required">
                Ne može ostati prazno polje</small>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="godiste">Godište:</label>
                <div class="col-sm-7">
                <input type="number" class="form-control" id="Godiste"  placeholder="godiste" formControlName="godiste" value="">
                <small class="text-danger" 
                *ngIf="regForm.controls.godiste.touched && regForm.controls.godiste.errors?.required">
                Ne može ostati prazno polje</small>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="gorivo">Gorivo:</label>
                <div class="col-sm-7">
                <select formControlName="gorivo">
                    <option *ngFor="let symbol of keys2(symbols2)" [ngValue]="symbols2[symbol]">{{symbol}}</option>
                </select>
                <small class="text-danger" 
                *ngIf="regForm.controls.gorivo.touched && regForm.controls.gorivo.errors?.required">
                Ne može ostati prazno polje</small>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="klima">Klima:</label>
                <div class="col-sm-7">
                <select formControlName="klima">
                    <option [ngValue]="true">DA</option>
                    <option [ngValue]="false">NE</option>
                </select>
                <small class="text-danger" 
                *ngIf="regForm.controls.klima.touched && regForm.controls.klima.errors?.required">
                Ne može ostati prazno polje</small>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="kubikaza">Kubikaža (KS):</label>
                <div class="col-sm-7">
                <input type="number" class="form-control" id="Kubikaza"  placeholder="kubikaza" formControlName="kubikaza" value="">
                <small class="text-danger" 
                *ngIf="regForm.controls.kubikaza.touched && regForm.controls.cena.errors?.kubikaza">
                Ne može ostati prazno polje</small>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="boja">Boja:</label>
                <div class="col-sm-7">
                <select formControlName="boja">
                    <option *ngFor="let symbol of keys3(symbols3)" [ngValue]="symbols3[symbol]">{{symbol}}</option>
                </select>
                <small class="text-danger" 
                *ngIf="regForm.controls.boja.touched && regForm.controls.boja.errors?.required">
                Ne može ostati prazno polje</small>
                </div>
            </div>
        </div>
        <div class="p-3"  style="background-color:#ddd; border-radius: 5px; float:right;">
            <h2 class="text-center">CarAdvisor - Osoba</h2> 
            <div class="form-group row">
                <label class="col-sm-6 col-form-label" for="pol">Pol:</label>
                <div class="col-sm-6">
                <select formControlName="pol">
                    <option *ngFor="let symbol of keys4(symbols4)" [ngValue]="symbols4[symbol]">{{symbol}}</option>
                </select>
                <small class="text-danger" 
                *ngIf="regForm.controls.pol.touched && regForm.controls.pol.errors?.required">
                Ne može ostati prazno polje</small>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label" for="godisteo">Godiste:</label>
                <div class="col-sm-6">
                <input type="number" class="form-control" id="Godisteo"  placeholder="godište osobe" formControlName="godisteo" value="">
                <small class="text-danger" 
                *ngIf="regForm.controls.godisteo.touched && regForm.controls.godisteo.errors?.required">
                Ne može ostati prazno polje</small>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label" for="zaposlenost">Zaposlenost:</label>
                <div class="col-sm-6">
                <select formControlName="zaposlenost">
                    <option [ngValue]="true">DA</option>
                    <option [ngValue]="false">NE</option>
                </select>
                <small class="text-danger" 
                *ngIf="regForm.controls.zaposlenost.touched && regForm.controls.zaposlenost.errors?.required">
                Ne može ostati prazno polje</small>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label" for="mestoPrebivalista">Mesto prebivališta:</label>
                <div class="col-sm-6">
                <select formControlName="mestoPrebivalista">
                    <option *ngFor="let symbol of keys5(symbols5)" [ngValue]="symbols5[symbol]">{{symbol}}</option>
                </select>
                <small class="text-danger" 
                *ngIf="regForm.controls.mestoPrebivalista.touched && regForm.controls.mestoPrebivalista.errors?.required">
                Ne može ostati prazno polje</small>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label" for="brojClanovaPorodice">Broj članova porodice</label>
                <div class="col-sm-6">
                <input type="number" class="form-control" id="BrojClanovaPorodice"  placeholder="br. čl. porodice" formControlName="brojClanovaPorodice" value="">
                <small class="text-danger" 
                *ngIf="regForm.controls.brojClanovaPorodice.touched && regForm.controls.brojClanovaPorodice.errors?.required">
                Ne može ostati prazno polje</small>
                </div>
            </div>
            <div class="form-group row" style="float:right;">
                <button type="submit" id="Ok" class="btn btn-primary" [disabled]="regForm.invalid">Potvrdi</button>
                <a class="btn btn-danger" routerLink="" role="button">Otkaži</a>
            </div>
        </div>
        </form>
    </div>
    </div>

