.vrsta{
    display: table ;
    width:100%;
    }
    .celija{
    display: table-cell;
    margin: 2 2 15px;
    }
   
    label{
        margin: 0;
        font-weight: 600;
    }
    input{
        margin-bottom: 10px;;
    }