<mat-toolbar color="secondary" style="background-color:rgba(255,255,255,0.6);justify-content: space-between;">
    <!-- <button mat-mini-fab  (click)="goToHome()" id="home_btn">
      <mat-icon>home</mat-icon>
    </button> -->
    <div style="order: 1;">
      <img src="../../assets/img/logo2.png" alt="Italian Trulli" width="100" (click)="goToHome()">
    <h1 style="text-align: center;text-transform: uppercase;font-style:italic;float:right;margin-top:5px;font-size:28px;"><span class="lilspace"></span><span style="color:rgb(24,119,140);">Car</span> Advisor</h1>
    </div>
    <!--span class="lilspace"></span-->
    <div style="display: flex;order: 2;" >
      <div *ngIf="getRole()==='ROLE_ADMIN'">
        <button mat-raised-button class="btn btn-primary" id="add-button" (click)="addCar()" style="margin-right:10px;">Dodaj auto</button>
      </div>
      <div *ngIf="getRole()==='ROLE_USER'">
        <button mat-raised-button class="btn btn-primary" id="choose-button" (click)="chooseCar()" style="margin-right:10px;">Izaberi auto</button>
      </div>
      <!-- <span class="bigspace"></span> -->
      <div *ngIf="getRole()===undefined">
        <button mat-raised-button class="btn btn-primary" id="signin-button" (click)="goToLogIn()" style="margin-right:10px;">Prijava</button>
        <!-- <span class="lilspace"></span> -->
        <button mat-raised-button class="btn btn-primary" id="signup-button" (click)="goToRegistration()">Registracija</button>
      </div>
      <div *ngIf="getRole()!==undefined">
        <button mat-raised-button class="btn btn-primary" id="signout-button" (click)="logOut()">Odjavi se</button>
      </div>
    </div>
  
  </mat-toolbar>
