/* You can add global styles to this file, and also import other style files */
body,html{
  margin:0;
  height: 100%;
}
.image{
  box-sizing: border-box;
    height: 100%; 
    width:100%;
    background-size:cover;
    background-image:url("/assets/img/car.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }
