<p style="text-align:center;font-size: large;font-weight: 700;">CarAdvisor treba pomoći korisniku pri izboru automobila. 60 miliona automobila se 
    proizvede godišnje (to je 165 000 dnevno, 6 875 po satu, 115 u minuti), a trenutno se u 
    svetu koristi milijardu automobila. Prema jednom istraživanju 70% ispitanika izjavilo je da 
    gaji snažna osećanja ka svom automobilu. Automobil je mnogima najbolji prijatelj, čak i više 
    od toga. Zato izbor automobila predstavlja veoma bitnu stvar.
</p>
<div class="w-50 h-100 p-5" style="float:left;">
    <div style="background-color: white;">
    <p>Izaberite automobil baziran na zeljenim karakteristikama samo automobila.
    </p>
    <button mat-raised-button color="accent" id="choose-button" (click)="carBased()">Auto</button>
    </div>
</div>
<div class="w-50 h-100 p-5" style="float:right;">
    <div style="background-color: white;">
    <p>Izaberite automobil baziran na zeljenim karakteristikama automobila i osobe koja bi koristila 
        taj automobil.
    </p>
    <button mat-raised-button color="accent" id="choose-button" (click)="personBased()">Auto+Osoba</button>
    </div>
</div>