<div id = "register">
    <form [formGroup]="regForm" (ngSubmit)="regIn()" style="border-radius: 5px;">
		<h2 class="text-center">Registracija</h2>   
        <!--
		<div class="form-group">
			<label for="email">Email: </label>
            <input type="text" class="form-control" id="email"  placeholder="email" formControlName="email">
			<small class="text-danger" 
				*ngIf="regForm.controls.email.touched && regForm.controls.email.errors?.required">
				Email is required</small>
			<small class="text-danger" 
				*ngIf="regForm.controls.email.touched && regForm.controls.email.errors?.email">
				Email is not valid</small>
        </div>-->
        <div class="form-group">
			<label for="username">Korisničko ime: </label>
            <input type="text" class="form-control" id="username"  placeholder="Korisničko ime" formControlName="username">
			<small class="text-danger" 
				*ngIf="regForm.controls.username.touched && regForm.controls.username.errors?.required">
				Korisničko ime je obavezno</small>
		</div>
		<div class="form-group" id = "vrsta">
			<div class = "celija">
				<label for="ime">Ime: </label>
                <input type="text" class="form-control" id="Name"  placeholder="Ime" formControlName="ime">
                <small class="text-danger" 
                    *ngIf="regForm.controls.ime.touched && regForm.controls.ime.errors?.required">
                    Ime je obavezno</small>
   			</div>
   			<div class = "celija">
   				<label for="prezime">Prezime: </label>
                   <input type="text" class="form-control" id="Surname"  placeholder="Prezime" formControlName="prezime">
                   <small class="text-danger" 
                       *ngIf="regForm.controls.prezime.touched && regForm.controls.prezime.errors?.required">
                       Prezime je obavezno</small>
    		</div>
        </div>
        <div class="form-group">
			<label for="password">Lozinka: </label>
            <input type="password" class="form-control" id="password" placeholder="Lozinka" formControlName="password">
			<small class="text-danger" 
				*ngIf="regForm.controls.password.touched && regForm.controls.password.errors?.required">
				Lozinka je obavezna</small>
			<small class="text-danger" 
				*ngIf="regForm.controls.password.touched && regForm.controls.password.errors?.minlength">
				Lozinka treba sadržati najmanje 6 karaktera</small>
		</div>
        <div class="form-group">
    		<button type="submit" id="register-button" class="btn btn-primary btn-block" [disabled]="regForm.invalid">Registruj se</button>
        </div>
        <a routerLink="/login" id="registration-link" class="btn btn-link">Ipak se prijavi.</a>
		
    </form>
</div>
