<div id = "login">
    <form [formGroup]="logForm" (ngSubmit)="logIn()" style="border-radius: 5px;">
		<h2 class="text-center">Prijava</h2>  
		<div class="form-group">
			<input type="text" class="form-control" id="email"  placeholder="korisničko ime" formControlName="email">
			<small class="text-danger"
				*ngIf="logForm.controls.email.touched && logForm.controls.email.errors?.required">
				Korisničko ime je obavezno</small>
			<!--
			<small class="text-danger"
				*ngIf="logForm.controls.email.touched && logForm.controls.email.errors?.email">
				Email is not valid</small>-->
		</div>
		<div class="form-group">
			<input type="password" class="form-control"  id="password" placeholder="lozinka" formControlName="password">
			<small class="text-danger"
				*ngIf="logForm.controls.password.touched && logForm.controls.password.errors?.required">
				Lozinka je obavezna</small>
			<small class="text-danger"
				*ngIf="logForm.controls.password.touched && logForm.controls.password.errors?.minlength">
				Lozinka mora sadržati bar 3 karaktera</small>
		</div>
		<div class="form-group">
    		<button id="login-button" type="submit" class="btn btn-primary btn-block" [disabled]="logForm.invalid">Prijavi se</button>
		</div>
		<div>
			<!--<a routerLink="/forgotten-password" id="forgottenpassw-link" class="btn btn-link">Forgot Password?</a>-->
    		<a routerLink="/registration" id="registration-link" class="btn btn-link">Nemaš nalog? Kreiraj ga!</a>
		</div>
    </form>
</div>